<!DOCTYPE html>
<html>
<body>

<FORM METHOD=POST ENCTYPE="multipart/form-data" ACTION="http://192.241.201.144:8080/endpoints/getImages"> File to upload: <INPUT TYPE=FILE NAME="upfile"><BR> <INPUT TYPE=SUBMIT VALUE="Submit"> </FORM>





</body>
</html>